
         <div ng-controller = "btns">
            <div class= "container" style="background-color: #000080">
                <div class = "row">
                    <div class = "col-sm-3">
                        
                    </div>
                     <div class = "col-sm-6">
                        <img src = "./LOGO.jpg" alt = "Logo" width = 500 height = 369 align="middle">
                    </div>
                     <div class = "col-sm-2">
                        
                    </div>
                </div>

            </div>
            <div class= "container" style="background-color: #ADD8E6">
               <div class = "row">
                   <div class = "col-sm-5 text-center">
                       <h1 align="middle">Já possui conta? Entre.</h1>
                        <div class="form-group" align="left">
                            <label for="email" >E-mail:</label>
                            <input type="text" class="form-control" id="email1">
                        </div>
                        <div class="form-group" align="left">
                            <label for="senha">Senha:</label>
                            <input type="senha" class="form-control" id="senha">
                        </div>
                       <button type="button" class="btn btn-default btn-lg btn-primary" ng-click = "login()">Entrar!</button> 
                   </div>

                   <div class = "col-sm-1"></div>

                   <div class = "col-sm-5 text-center">
                       <h1 align="middle" id="change">Não Possui? Cadastre-se.</h1>
                        <div class="form-group" align="left">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome">
                        </div>
                        <div class="form-group" align="left">
                            <label for="nome">Sobrenome:</label>
                            <input type="text" class="form-control" id="sobrenome">
                        </div>
                        <div class="form-group" align="left">
                            <label for="apelido">Apelido:</label>
                            <input type="text" class="form-control" id="apelido">
                        </div>
                        <div class="form-group" align="left">
                            <label for="email2">E-mail:</label>
                            <input type="text" class="form-control" id="email2">
                        </div>
                        <div class="form-group" align="left">
                            <label for="senha2">Senha:</label>
                            <input type="senha" class="form-control" id="senha2">
                        </div>
                        <div class="form-group" align="left">
                            <form>
                                <label for="Sexo">Sexo:</label>
                                <input type="radio" name="gender" value="male"> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                            </form>
                        </div>
                       <button type="button" class="btn btn-default btn-lg btn-primary" align = "middle" color = "blue">Cadastrar!</button> 
                   </div>
               </div>     
               
            </div>
            <div class = "container" align="middle">
                <div class="row">
                     <footer>
                        <p>This social network was created by Gabriel Dupim Hosino and Lucas P. Nunes Matias</p>
                    </footer>
                </div>
            </div>
        </div>    
   
